<h1>Login</h1>

[% IF error %]
  <p class="error">[% error | html %]</p>
[% END %]

<form method="post" action="/login">
  <input type="hidden" name="return_url" value="[% return_url | html %]">
  <p><label>Username <input type="text" name="user"></label></p>
  <p><label>Password <input type="password" name="password"></label></p>
  <p><button type="submit">Login</button></p>
</form>
